@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap');
.iniz {
		background-color: #2b2823;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
.inif4 {
		background-color: #2b2823;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 30px;
		font-family: "Orbitron", sans-serif;
	}
	.inis {
		background-color: #03223f;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inif {
		background-color: #17181f;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inig {
		background-color: #4e4d4a;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.iniab {
		background-color: #2b2823;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inim {
		background-color: #657a38;
		color: black;
		border: solid 2px #1f2f3a;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inie {
		background-color: #2b2823;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inir{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.iniap{
		background-color: #5b1023;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inib{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inid{
		background-color: #005f6b;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inic{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inibaa{
		background-color: #15212a;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inibc{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.iniak{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inif3{
		background-color: #111113;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inia{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inib3{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
	.inib4{
		background-color: #232527;
		color: var(--tx-color1)
		border: solid 2px #949a8e;
		border-radius: 15px;
		padding: 10px;
		font-family: "Orbitron", sans-serif;
	}
